// src/css/quasar.variables.scss

$primary   : #8F553A; // Change this to your brand's main color
$secondary : #bd8b72;
$accent    : #42271B;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #ff5100;
$warning   : #F2C037;
